### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.vscode/*

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/caches
.idea/.name
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/runConfigurations/workspace.xml

### Mac OS ###
.DS_Store

### Java/Gradle/Maven ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/

Elevator/logs/
Elevator/logs/*
ParkingLot/parkingLot.md
ParkingLot/reveiw.md
