### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# IntelliJ IDEA
.idea/
*.iml
target/
build/
*.class

# OS junk
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store